<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <router-link to="/todos" class="button is-primary">
              <strong> Todos</strong>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
import {mapGetters} from "vuex"
export default {
  name: "NavigationBar",
  computed: {
    ...mapGetters([])
  },
  created() {
  }
}
</script>
