<template>
    <div class="card-content">
      <div class="content">
        <h4>{{ todo.name }}</h4>
        <div class="" v-for="(item,index) in todo.items" :key="item.id">
          <div class="p-1">
            <input type="checkbox" :name="'completed'+item.id"
                   :checked="item.status === 'COMPLETED'" id="complete"
                   :disabled="item.status === 'DISABLED'"
                   @click="updateItem([todo, item, 'completed', index])">&nbsp;
            <span>{{ item.name }}</span>
            &nbsp;
            <button class="button is-danger is-small" :disabled="item.status === 'DISABLED'" @click.prevent="prevent"
                    @click="deleteItem([todo, item, index])"
            >
              <strong>Delete</strong>
            </button>
            &nbsp;
            <button class="button is-warning is-small" :disabled="item.status === 'DISABLED'" @click.prevent="prevent"
                    @click="updateItem([todo, item, 'disabled', index])"
            >
              <strong>Disable</strong>
            </button>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import {mapActions} from 'vuex'
export default {
  name: "TodoListItem",
  props: ["todo"],
  methods: {
    ...mapActions(["deleteItem", "updateItem"]),
  },
};
</script>
