<template>
  <div class="container is-fluid">
    <div>
      <h3>Create Todo</h3>
      <input class="input" type="text" v-model="newTodo" placeholder="Enter here.." />
      <button class="add-btn button" @click="createTodo(newTodo)">Add Todo</button>
    </div>
    <br>
    <br>
    <div class="tile is-ancestor">
      <div class="tile is-parent" v-for="(todo,index) in todos" :key="todo.id">
        <div class="card">
          <div class="card-header">
            <input class="input" type="text" :name="'newItem'+todo.id" v-model="newItem[index]" placeholder="Enter here.." />
            <button class="add-btn button" @click="createItem([newItem[index], todo, index])">Add Item</button>
          </div>
          <TodoListItem :todo="todo"/>
          <button class="delete-btn button" @click="deleteTodo(todo, index)">Delete Todo</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex';
import Todo_List_Item from './TodoListItem.vue'
export default {
  name: "TodoList",
  components: {
    TodoListItem:Todo_List_Item
  },
  data() {
    return {
      newTodo: '',
      newItem: [],
      parent: []
    };
  },
  computed: {
    ...mapGetters([
      'todos'
    ])
  },
  methods: {
    ...mapActions([
      'createTodo',
      'deleteTodo',
      'createItem'
    ])
  },
  created() {
    this.$store.dispatch('getTodos');
  }
};
</script>
